# Parameterized ALU Design and Verification

## Project Report

The complete project report for the Parameterized ALU Design and Verification project can be accessed using the link below:

- [ALU Design and Verification Report](https://mirafra2-my.sharepoint.com/:b:/g/personal/joshua_mirafra2_onmicrosoft_com/IQCA19diltXuRoh0QZulhiwXAUdNJxS6NP5WzNVcY-DhSrs?e=DUoFwZ)

